body{
    background-color: whitesmoke;
    font-Family: 'Anybody', cursive;
}

nav{
    display: flex;
    justify-content: right;
    background-color: rgb(93, 102, 91);
    align-items: center;
    gap: 3em;
    flex-direction: row-reverse;
    font-size: 1em;
    padding: 1em;
}
img{
    float: center;
    margin-top: -2.5em;
}
a.nav-link{
    color: whitesmoke;
}

svg{
    fill: whitesmoke;
    padding-right: 3em;
}
header{
   text-align: center;
   background-color: rgb(250, 241, 228);
   font-size: 1.5em;
   padding: 2em;
}

main{
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    font-size: 1.5em;
    border-bottom: solid rgb(65, 64, 64);
    text-align: center;
}


ul{
    list-style-type: none;
    
}
h3{
    background-color: rgb(93, 102, 91);
    color: whitesmoke;
    font-size: 1.5em;
    padding: 1em;
    margin-top: 0;
    border-radius: .5em .5em 0 0;
    text-align: center;
}
.card{
    border-radius: 1em;
    box-shadow: 0 0 20px #000;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em;
    padding-bottom: 1em;
}
#project-link{
    padding-left: 2em;
}
#weather, #visits{
    padding-left: 2em;
}
footer{
    text-align: center;
    background-color: rgb(93, 102, 91);
    font-size: 18px;
    color: whitesmoke;
    line-height: 1.5em;
}
