body{
    background-color: #E6DCD3;
    font-Family: 'Anybody', cursive;
}

nav{
    display: flex;
    background-color: #74694D;
    align-items: center;
    justify-content: center;
    gap: .5em;
    flex-direction: column;
    font-size: 1.5em;
    padding: .5em;
}
img{
    
    margin-top: 1em;
}
a.nav-link{
    color: #E6DCD3;
}

svg{
    fill: #E6DCD3;
}
header{
   text-align: center;
   background-color: #DCB499;
   font-size: 1.5em;
   
}

main{
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    font-size: 1.5em;
    border-bottom: solid rgb(65, 64, 64);
    text-align: center;
}


ul{
    list-style-type: none;
    
}
h3{
    background-color: #74694D;
    color:#E6DCD3;
    font-size: 1.5em;
    padding: 1em;
    margin-top: 0;
    border-radius: .5em .5em 0 0;
    text-align: center;
}
.card{
    border-radius: 1em;
    box-shadow: 0 0 20px #000;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 1em;
    padding-bottom: 1em;
    background-color: whitesmoke;
}
#project-link{
    padding-left: 2em;
}
#weather, #visits{
    padding-left: 2em;
}
footer{
    text-align: center;
    background-color: #74694D;
    font-size: 18px;
    color: #E6DCD3;
    line-height: 1.5em;
}
