:root{
     --primary-color: #00547A;
    --secondary-color: #ffffff;
    --accent1-color: #e07145;
    --accent2-color: #5a7557;
    --accent3-color: #866b5b;
    --text-color: black;
    --table-color: #EAEDE8;
    --heading-font: "DM Serif Display", serif;
    --paragraph-font: "Roboto", sans-serif;

}

/*coolors.co/00547a-ffffff-a85710-5a7557-866b5b*/
/*https: //coolors.co/00547a-ffffff-e07415-5a7557-866b5b*/

body{
   color: var(--accent3-color);
    font-family: "Roboto", serif;
}

nav {
    padding: 1em;
    background-color: var(--primary-color); 
    
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navbar{
    justify-content: right;
}
svg {
    display: block;
    fill: var(--secondary-color); 
}
.social-media{
    
    margin-top: .25em;
    padding-left: 1em;
   
}
ul.navbar {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: var(--secondary-color);
    justify-content: left;
}
.fa {
    padding: .5em;
    font-size: 3em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid var(--secondary-color);
    color: var(--secondary-color);
}

li a.nav-link {
    display: none;
    color: var(--secondary-color);
    font-size: 1.25em;
    margin: .25em;

}

li a.nav-link.open {
    display: flex;
    flex-direction: row-reverse;
    padding-top: .2em;
    
}

main{
    background-color: var(--accent3-color);
    padding-bottom: 1em;
}
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: .5em;
    font-size: 2em;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
h1{
    padding: 0;
    margin: 0;
}
header h2{
    padding: 0;
    margin: 0;
}
p{
    font-family: var(--paragraph-font);
}

ul{
    list-style-type: none;
}
.responsive{
width: 100%;
height: auto;

}

.button{
display: block; 
height: auto; 
max-width: 90%; 
background: var(--accent1-color); 
color: black; 
text-align: center; 
font-weight: bold; 
font-size: 175%; 
line-height: 3em; 
border-radius: 20px; 
text-decoration: none;
margin: .5em auto auto  auto;
}

.card {
    border: solid var(--accent3-color);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 1em 1em 0 1em;
    padding-bottom: 1em;
    background-color: var(--secondary-color);
    border-radius: 0 0 20px 20px;
}
.card h3{
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    text-align: center;
    font-weight: 200;
    font-size: 1.5em;
    margin: 0;
    padding: .5em;
}
.card h4{
    font-weight: 200;
    font-size: 1.5em;
    margin: 0;
    padding: .5em;
    text-align: center;
}
.card p{
    padding: .5em;
    margin: 0;
    text-align: center;
}
.card a{
    color: var(--accent3-color);
}
.title{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
}
footer {
    text-align: center;
    background-color: var(--primary-color);
    font-size: 18px;
    color: var(--secondary-color);
    line-height: 1.5em;
   
}
footer p{
    margin: auto;
    padding: 1em;
}
.foot p{
    padding: 0;

}
footer a{
    color: var(--secondary-color);
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
img:hover {
    box-shadow: 0 0 50px #333;
}
.discover p{
    color: var(--secondary-color);
    text-align: center;
}
.discover h3{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 400;
}
.discover{
    background-color: var(--accent2-color);
}
.sidebar ul{
    color: var(--secondary-color);
    list-style-type: disc;
    line-height: 1.5em;
}
.sidebar h2{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 400;
}
.sidebar{
    padding-left: 1em;
    background-color: var(--accent2-color);
    padding-right: 1em;
    padding-bottom: 1em;
}
.numbers{
    margin-top: 0;
    padding-top: 1em;
}
.label, .visits{
    color: var(--secondary-color);
    
}
.sidebar p{
    padding-left: 1em;
    border-top: solid;
    border-color:  var(--secondary-color);
    padding-top: 1em;
}
.join{
    background-color: var(--accent1-color);
    color: var(--text-color);
    font-weight: 600;
    padding-top: .5em;
}
.join h3{
    text-align: center;
    font-size: 2.75em;
    margin: .5em 0;
}
form{
    margin: auto;
    width: 100%;
    max-width: 350px;
    background-color: var(--secondary-color);
    padding: .25em;
    border: 3px solid;
    border-color: var(--accent3-color);
}
label{
    text-align: left;
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding-bottom: .25em;
    padding-left: 1em;
}
input{
    border: solid 1px;
    border-color: var(--accent3-color);
    padding-left: 1em;
    line-height: 2.5em;
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
}
.dropdown{
    display: block;
    font-size: 1.25em;
    margin-bottom: 1em;
    border: solid 1px;
    border-color: var(--accent3-color);
}
legend{
    font-size: 2em;
}
.submitButton{
    margin: 1em auto;
    font-size: 2em;
    font-weight: 500;
    padding: .5em;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border-radius: 5px;
    
}
textarea{
   padding: .5em;
   margin-left: 1em;
    border: solid 1px;
        border-color: var(--accent3-color);
}
.table_join{
    border: 3px solid;
    border-color: var(--accent3-color);
    max-width: 350px;
    width: 100%;
    margin: 1em auto auto auto;
    padding: .5em;
    background-color: var(--secondary-color);
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    padding: 1em;
}
thead tr th{
    font-size: 1em;
    text-align: left;
}
tbody tr{
    border-top: solid 1px;
    border-bottom: solid 1px;
    line-height: 1.5em;
    font-size: .9em;
}
tbody tr td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5){
    text-align: center;
}
.memextra{
    border: 3px solid;
    border-color: var(--accent3-color);
    background-color: var(--secondary-color);
    margin: 1em auto;
    padding: .5em;
    width: 100%;
    max-width: 350px;
}
.memextra h4{
    margin: 0;
}
.thankyou{
    background-color: var(--secondary-color);
    text-align: center;

}
.thankyou h1{
    margin-top: 1em;
    font-size: 2em;
}
.thankyou p{
    font-weight: 600;
}
.directory{
    padding-top: 1em;
}

.directory section{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    background-color: var(--secondary-color);
    border: 3px solid;
    border-color: var(--accent2-color);
    max-width: 350px;
    width: 100%;
    height: auto;
    color: var(--text-color);
    padding: .75em;
    text-align: center;
}
.directory section:nth-of-type(3) img{
    background-color: var(--primary-color);
}
.directory section:nth-of-type(4) img{
    background-color: var(--primary-color);
}   
.directory section:nth-of-type(7) img{
    background-color: var(--primary-color);
}
.directory section img{
    padding: .25em;
    max-width: 325px;
    width: 100%;
    height: auto;
    align-self: center;
}
.directory section h2,p{
    margin: 0;
    line-height: 1.5em;
}
.list{
    display: flex;
    flex-direction: column;
}
.list section{
    border: none;
    margin: 0 auto;
    text-align: left;
    
}
.list section:nth-child(even){
    background-color: var(--table-color);
}
.list section img{
    display: none;
}
.togglemenu {
    
    margin: auto;
    text-align: center;
    padding: .5em;
}
.togglemenu button{
    background-color: var(--
    --secondary-color);
    margin-left: 1em;
    margin-right: 1em;
}
.togglemenu svg{
    width: 3em;
    height: 3em;
}
#grid svg path{
    fill: var(--primary-color);
    
}
#list-2 svg path{
    fill: var(--primary-color);
    display: block;
    height: 5em;
}
