@media only screen and (min-width: 600px) {

li a.nav-link.open{
    font-size: 2em;
    padding-top: 0;
}
h1{
    font-size: 4em;
}
header h3{
font-size: 2em;
}
.button{
    font-size: 300%;
    max-width: 60%;
    margin-bottom: 1em;
}
.tier1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}
.tier2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;

}
.tier1 p{
    line-height: 2em;
}
.tier2 p{
    line-height: 2em;
}

.card{
    height: 18em;
   
}
#events.card{
    width: 60%;
}
#info.card{
    width: 40%;
}
 .card #info p{
    line-height: 2em;
}
#business-one.card {
    width: 50%;
}
#business-two.card{
    width: 50%;
}
.card h3{
    font-size: 2em;
    line-height: 1em;
}
.card h4{
    font-size: 1.5em;
    padding: .5em;
}
.card p{
    font-size: 1.25em;
    
}
footer .foot1{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
footer .foot{
    display: flex;
    padding: 1em;
    justify-content: right;
}
p#copyright{
    text-align: right;
}


.sidebar{
    grid-column: 1/2;
    
}
.discover-body{
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
.discover-body .navigation, header, footer{
    grid-column: 1/4;
}
.history, .nature, .museum{
    grid-column: 2/3;
}
.events,  .pools, .theater{
    grid-column: 3/4;
}
.discover{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

}
@media only screen and (min-width: 1400px) {
    .discover img{
        height: 450px;
    }}