@media only screen and (min-width: 600px) {

li a.nav-link.open{
    font-size: 2em;
    padding-top: 0;
}
h1{
    font-size: 4em;
}
header h3{
font-size: 2em;
}
.button{
    font-size: 200%;
    max-width: 40%;
    margin-bottom: 1em;
}
.tier1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}
.tier2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;

}
.tier1 p{
    line-height: 2em;
}
.tier2 p{
    line-height: 2em;
}

.card{
    height: 18em;
   
}
#events.card{
    width: 60%;
}
#info.card{
    width: 40%;
}
 .card #info p{
    line-height: 2em;
}
#business-one.card {
    width: 50%;
}
#business-two.card{
    width: 50%;
}
.card h3{
    font-size: 2em;
    line-height: 1em;
}
.card h4{
    font-size: 2em;
    padding: .5em;
}
.card p{
    font-size: 1.25em;
    
}
footer .foot1{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
footer .foot{
    display: flex;
    padding: 1em;
    justify-content: right;
}
p#copyright{
    text-align: right;
}


.sidebar{
    grid-column: 1/2;
    
}
.discover-body{
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
.discover-body .navigation, header, footer{
    grid-column: 1/4;
}
.history, .nature, .museum{
    grid-column: 2/3;
}
.events,  .pools, .theater{
    grid-column: 3/4;
}
.discover{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    padding-top: 1em;
    padding-right: 1em;
}
.join_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  35% auto;
}
.form{
    grid-row: 1/3;
    grid-column: 1/2;
}
.table_join{
    margin-top: 0;
    grid-column: 2/3;
    max-width: 450px;
    grid-row: 1/2;
    
}
form{
    max-width: 450px;
    
}
input{
    line-height: 2em;
}
tbody tr{
    font-size: 1.25em;
}
.memextra{
    display: grid;
    grid-column: 2/3;
    max-width: 450px;
    grid-row: 2/3;
    align-content: start;
    margin-top: .5em;
}
.thankyou h1{
    font-size: 3em;
    margin-top: .5em;
}
.thankyou p{
    font-size: 1.5em;
}
.directory .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    max-width: 960px;
    width: 100%;
    height: auto;

}
.list .cards{
    display: block;
  
}
}
@media only screen and (min-width: 1400px) {
    nav{
        padding: .5em;
    }
    
    .discover img{
        height: 450px;
    }
    .responsive{
        width: 75%;
        height: auto;
    }
    .hero {
        text-align: center;
    }
    .button{
        font-size: 300%;
        max-width: 45%;
    }
form{
    margin-right: 5%;
}
.table_join, .memextra{
    margin-left: 5%;
}
.list section{
    max-width: 1350px;
    width: 100%;
    height: auto;
}
.banner{
    font-size: 2em;
    width: 1050px;
    margin: .5em auto;
}
}