:root{
    --primary-color: #6e6449;
    --secondary-color: #DCB499;
    --link-color: #E6DCD3;
    --tertiary-color: whitesmoke;
    --card-color: whitesmoke;
    --text-color: black;
}
.darkmode{
    --primary-color: #303636;
    --link-color: #202C39;
    --secondary-color: #434c4c;
    --text-color: whitesmoke;
    --tertiary-color: #303636;
    --card-color: #434C4C;
}
body{
    background-color: #E6DCD3;
    font-Family: 'Anybody', cursive;
   
}

nav{
    
    background-color: #6e6449;    
    display: flex;
    justify-content: center;
}

svg {
    display: block;
    fill: #E6DCD3;
    
}
ul.navbar {
    padding: 0;
    text-align: center;
   
}
li.hamburger{
    display: flex;
    justify-content: center;
   
}
.nav-menu li a{
    display: block;
    align-items: center;
    
}

a.nav-link{
    color:#E6DCD3;
    font-size: 1.5em;
    margin: .35em;
}
li a.nav-link{
    display: none;
}

 li a.nav-link.open{
    display: block;
 }
 .close::before{
    content: "\2716";
    color:var(--link-color);
    font-size: 2em;
    font-weight: 700;
 }
.card  a:link{
    color: var(--text-color);
}
.card  a:visited {
    color: var(--text-color);
}

.header img{   
    width: 25%;
    height: auto;
    float: left;
    object-fit: cover;

}
.header{
   text-align: center;
   background-color: #DCB499;
   font-size: 1em;
   align-content: center;
   height: 9em;
   
}
h1{
    margin: 0;
    padding-top: 1.5em; 
    font-size: 2em;
}
main{
    max-width: 600px;
    margin: auto;
    padding-bottom: 1em;
    background-color: var(--link-color);
    color: var(--text-color);
    
}
h2{
    font-size: 1.5em;
    border-bottom: solid rgb(65, 64, 64);
    text-align: center;
}

ul {
    list-style-type: none;
    
}
.card ul{
    padding-right: .5em;
}
h3{
    background-color: var(--primary-color);
    color: whitesmoke;
    font-size: 1.5em;
    padding: 1em;
   
    margin-top: 0;
    border-radius: .5em .5em 0 0;
    text-align: center;
}
#learning h3{
    margin-bottom: .25em;
}
.card{
    border-radius: 1em;
    box-shadow: 0 0 20px #000;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 1em;
    padding-bottom: 1em;
    background-color: var(--card-color);
}
#project-link{
    padding-left: 2em;
}
.weather, .visits, .label {
    padding-left: 2em;
}
footer{
    text-align: center;
    background-color: #6e6449;
    font-size: 18px;
    color:whitesmoke;
    line-height: 1.5em;
}
iframe{
    position: relative;
    width: 100%;
    height: 20em;
   
    
}
.map{
    text-align: center;
    max-width: 400px;
    margin: 0 0 1em 0;
    
}
.hero {
    height: 18em;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
   
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;    
    top: 2em;
    left: .5em;
    background: radial-gradient(#fff, #9EC8EF);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: .5em;
    box-shadow: 0 0 3em #fff;
    opacity: 0.75;
    text-align: center;
}

.herolabel p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: .90em;
    font-family: "Anybody", serif;
}
.contact{
    background-color: var(--secondary-color);
    border: 1px solid;
    border-color: var(--primary-color);
    width: 100%;
    max-width: 375px;
    margin: auto;
    padding: .5em;
   
}
.contact h4{
    font-size: 2em;
    padding: .5em 0 0 0;
    margin: 0;
    text-align: center;
}
form {
    align-items: left;
   
}

label {
    text-align: left;
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding-bottom: .25em;
    padding-left: 1em;
}

input {
    margin: 0;
    padding-left: 1em;
    line-height: 2.5em;
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
}
.rangecontainer{
    padding-left: 1em;
}
#r {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 82%;
    background-color: var(--primary-color);
    
}
range{
    color: var(--primary-color);
}
.ratinglabels {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1rem 1.1rem;
    color: black;
    letter-spacing: 2em;
}

#rating {
    color: black;
}
#submit_button{
    padding: .5em;
    font-size: 1.5em;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

.table{
   border-color: var(--primary-color);
   border: solid 1px;
   max-width: 350px;
   margin: 1em auto;
   padding: .5em;
   display: none;
}

.title{
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    padding: .5em;
    margin: 0;
}
.col_heading{
    font-size: 1.3em;
}
table{
    width: 100%;
    text-align: center;
    padding: 1em;
    border-collapse: collapse;
     border: solid 1px;
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
}
tbody{
    font-weight: 700;
    font-size: 1.1em;
   border-collapse: collapse;
    margin: 1em; 
    
}  
thead tr th{
    font-size: 1.5em;
    line-height: 2.5em;
}
thead tr th:first-of-type{
    text-align: right;
}
tbody tr td{
    padding: .25em 0;
}
tbody tr td:first-of-type{
    width: 40%;
    text-align: right;
}
tbody tr{
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--primary-color);
    line-height: 2em;
}
tbody tr td:nth-child(2){
    text-align: center;
}