:root{
    --primary-color: #6e6449;
    --secondary-color: #DCB499;
    --link-color: #E6DCD3;
    --tertiary-color: whitesmoke;
    --card-color: whitesmoke;
    --text-color: black;
}
.darkmode{
    --primary-color: #303636;
    --link-color: #202C39;
    --secondary-color: #434c4c;
    --text-color: whitesmoke;
    --tertiary-color: #303636;
    --card-color: #434C4C;
}
body{
    background-color: #E6DCD3;
    font-Family: 'Anybody', cursive;
   
}

nav{
    
    background-color: #6e6449;    
    display: flex;
    justify-content: center;
}

svg {
    display: block;
    fill: #E6DCD3;
    
}
ul.navbar {
    padding: 0;
    text-align: center;
   
}
li.hamburger{
    display: flex;
    justify-content: center;
   
}
.nav-menu li a{
    display: block;
    align-items: center;
    
}

a.nav-link{
    color:#E6DCD3;
    font-size: 1.5em;
    margin: .35em;
}
li a.nav-link{
    display: none;
}

 li a.nav-link.open{
    display: block;
 }
 .close::before{
    content: "\2716";
    color:var(--link-color);
    font-size: 2em;
    font-weight: 700;
 }
.card  a:link{
    color: var(--text-color);
}
.card  a:visited {
    color: var(--text-color);
}

header img{   
    width: 25%;
    height: auto;
    float: left;
    object-fit: cover;

}
header{
   text-align: center;
   background-color: #DCB499;
   font-size: 1em;
   align-content: center;
   height: 8em;
   
}
h1{
    margin: 0;
    padding-top: 1.5em; 
    font-size: 2em;
}
main{
    max-width: 800px;
    margin: auto;
    padding-bottom: 1em;
    background-color: var(--link-color);
    color: var(--text-color);
    
}
h2{
    font-size: 1.5em;
    border-bottom: solid rgb(65, 64, 64);
    text-align: center;
}

ul {
    list-style-type: none;
    
}
.card ul{
    padding-right: .5em;
}
h3{
    background-color: var(--primary-color);
    color: whitesmoke;
    font-size: 1.5em;
    padding: 1em;
   
    margin-top: 0;
    border-radius: .5em .5em 0 0;
    text-align: center;
}
#learning h3{
    margin-bottom: .25em;
}
.card{
    border-radius: 1em;
    box-shadow: 0 0 20px #000;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 1em;
    padding-bottom: 1em;
    background-color: var(--card-color);
}
#project-link{
    padding-left: 2em;
}
.weather, .visits, .label {
    padding-left: 2em;
}
footer{
    text-align: center;
    background-color: #6e6449;
    font-size: 18px;
    color:whitesmoke;
    line-height: 1.5em;
}


.hero {
    width: 100%;
    height: 18em;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
   
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;    
    top: 15em;
    left: .5em;
    background: radial-gradient(#fff, #9EC8EF);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: .75em;
    box-shadow: 0 0 3em #fff;
    opacity: 0.75;
    text-align: center;
}

.herolabel p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1em;
    font-family: "Anybody", serif;
}